body {
  margin: 0;
}

img {
  pointer-events: none;
  user-zoom: none;
  user-select: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.gallery img {
  width: 100%;
  height: auto;
  max-width: none;
  height: auto;
  object-fit: cover;
}

.navbar {
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.nav-item {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link.active {
  position: relative;
}

@media (min-width: 991px) {
  .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #b91a00;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link.active:hover::before {
    width: 100%;
    visibility: visible;
  }
}

.events-container {
  margin: auto;
  max-width: 990px;
  margin-top: -575px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  z-index: 3;
  width: 100%;
}

.item img {
  /* margin-left: 60px; */
  /* width: 400px; */
  object-fit: contain;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh;  */
  position: relative;
  z-index: 2;
  max-width: 430px;
}

.item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.item a:hover {
  transform: scale(1.1);
}

.item {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.item p {
  margin-left: 20px;
  margin-top: -10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #9d9a6c;
  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  transition: transform 0.3s ease;
}

.item p:hover {
  transform: scale(1.1);
}

html,
body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  padding-bottom: 50px;
}

.footer {
  background-color: #b04434;
  border: 2px solid black;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.social-icons a {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.contact-section {
  text-align: center;
}

.contact-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-links a {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid black;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.contact-links a:hover {
  transform: scale(1.1);
}

.hide-scrollbar {
  scrollbar-width: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .item img {
    padding-top: 220px;
    width: 300px;
  }

  .events-container {
    margin-top: -580px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }

  .item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
  }

  .item img {
    max-width: 370px;
  }

  .item {
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile:nth-child(3) {
    margin-top: -70px;
  }

  .events-container {
    margin-top: -650px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }

  .item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
  }

  .item img {
    max-width: 370px;
  }

  .item {
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-links {
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-links a {
    padding: 6px 10px;
    font-size: 14px;
  }

  .social-icons img {
    width: 40px;
  }
      }
